*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  }

body{
    background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/Images/launch\ trail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.toolbar {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/Images/launch\ trail.jpg");
  border-color: black;
  
}

.toolbar ul {
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 40%;
  overflow: hidden;
}

.toolbar li {
  float: left;
}

.toolbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.toolbar li a:hover {
  background-color: rgb(112, 104, 104);
  color: silver;
}
.toolbar #Contact-title{
  text-align: left;
  margin-bottom: 30px;
  font-size: 40px;
}

.toolbar button{

  color: #212529;
  background-color: #24272e;
  border-color: black;
  padding: .5rem 2rem;
  font-size: 20px;
  line-height: 2;
  border-radius: 40px;
  display: inline-block;
  letter-spacing: 1.75px;
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:white; 
  text-decoration:none; 
  cursor:pointer;  
}


.about-me{
  border: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: black;
  text-align: center;
  background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/Images/stars.jpg");
 background-position-y: 200px;
  background-size: contain;
  
}

.about-me img{
 
  float: left;
  margin-left: 150px;
  margin-right: 150px;
  
}
.about-me h1{
  color: silver;
  display: block; 
}
.about-me h2{
  color: silver;
}

.about-me p{
  color: white;
}
#paragraph{
  display:flex;
  background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/images/code-backdrop.jpg");
  width: 500px;
  height: 500px;
  color: transparent;
  border: 4px solid black;
}
#paragraph p{
  display: none;
}

#paragraph h1{
 position:absolute;
 top: 60%;
 left: 50%;
 transform: translatex(55%);
}
#paragraph:hover{
  background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/Images/code\ backdrop.jpg");
  color:white;
  opacity: 0.5;
  padding: 50px;
  width: 500px;
  height: 500px;
}

#paragraph:hover h1{
  display: none;
}

#about-me:hover .who-am-i{
display: inline;
}

.skills{
    background-image: linear-gradient(180.43deg, rgba(0,0,0,0.60) 0%, rgba(0,0,0,0.80) 100%), url("/Images/launch\ trail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.skills h1{
  margin: 0px 50px 50px 50px;
}

.skills li{
  margin: 10px;
  color: white;
  margin-bottom: 40px;
}

.certificates .about-me .skills {
 background-image:none;
}
.certificates .about-me {
  background-image:none;
 }

.certificates{
  margin-top: 100px;
  margin-bottom: 200px;

}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}